body {
	background-color: rgb(243, 169, 84);
	font-family: 'Saiyan Sans';
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

img {
	height: 500px;
	margin: 0 auto;
	position: absolute; left: 35%; top: 50%;
	max-width: 100%; 
	display:block; 
	height: auto;
}

h1, h2, h3, .question {
	text-align: center;
}
